body
{
    background-color: #e9e9e9;
}

.align-left
{
    text-align: left;
}

#salarioFinalwrapper
{
    margin-top: 100px;
}

.badge
{
    font-size: 20px;
}

.real {
    
    float: left;
    width: 34px;
    height: 34px;
    background: #EEEEEE;
    text-align: center;
    padding-top: 7px;
    color:#000;
    font-weight: bold;
    border-left: solid 1px #CCCCCC;
    border-top: solid 1px #CCCCCC;
    border-bottom: solid 1px #CCCCCC;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;   
}